{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        },
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "browser": true
    },
    "globals": {
        "M": true
    },
    "rules": {
        "react/jsx-uses-vars": [2]
    },
    "settings": {
        "react": {
            "version": "^16.3.0"
        }
    }
}