
#table-data-info {
    tr {
        background-color: transparent;
        th, td {
            padding: 0px;
            border: 1px solid $border-element-color;
            font-size: 1.1em;
        }
        td {
            font-style: italic;
            &:hover {
                transition: background-color 0.2s ease;
                background-color: $background-color;
            }
        }
        th {
            text-align: center;
        }
    }
}

#modal-calculator {

    width: 70%;
    max-height: 80%;

    button.btn-large, input[type="text"], p {
        font-size: 1.8em;
    }

    p {
        margin: 0px;
    }

    button {

        &.btn {
            width: 100%;
            box-shadow: none;
            padding: 0px;
            &.operation {
                border-color: $background-color;
            }
        }

    }

}

#homepage__search-input {
    margin-bottom: 0px;
}

#filters-menu-wrapper {
    padding-right: 0px;
}

#filters-menu {
    background-color: $background-element-color;
    border: 1px solid $border-element-color;
    > div {
        width: 95%;
        margin: auto;
    }
}

#sidenav {
    background-color: $background-element-color;
    li a {
        color: $text-color;
    }
    .user-view {
        text-align: center;
    }
}

#table-overview {
    &>.row {
        background-color: $background-element-color;
        margin: 0px 0px 10px 0px;
        padding: 0px;

        .col {
            padding-left: 0px;
            padding-right: 0px;
        }

        table {
            tbody>tr:hover {
                background-color: $background-color;
            }
            th>div, td>div {
                display: flex;
                justify-content: center;
            }
            td:first-child>i {
                width: 100%;
                margin: 0px;
            }
            th:nth-child(2) span:before, td:nth-child(2) span:before {
                left: 0px;
            }
        }

        &#pagination-wrapper {
    
            border: 1px solid $border-element-color;

            #pagination-choice {
                margin: 0px;
                padding: .5em 0em;
                display: flex;
                justify-content: center;
                * {
                    display: block;
                    margin: auto;
                    height: auto;
                    width: 50%;
                    float: left;
                    text-align: center;
                }
                input {
                    padding: .2em 0em;
                }
            }
            #table-overview-pagination {
                margin: 0px;
                padding: .5em 0em;
                li a {
                    padding: 0em .5em;
                }
                li:first-child a, li:last-child a {
                    padding: 0em;
                }
            }
        }
    }
}

#chart-overview {
    border: 1px solid $border-element-color;
    background-color: $background-element-color;
    margin: 0px;
    padding: .8em .5em .0em .5em;        
    .col {
        padding: 0em;
    }
    text {
        fill: $text-color;
    }
    .recharts-default-tooltip {
        background-color: $background-color;
        color: $text-color;
    }
}