
#table-data-info {
    td, th {
        padding: 2px 10px;
    }
    td {
        font-style: italic;
        &:hover {
            @include hover-effect($background-color);
        }
    }
}

#modal-calculator {

    
    @media screen and (max-width: 1440px){
        max-width: 90%;
    }
    @media screen and (min-width: 1441px) and (max-width: 1919px){
        max-width: 70%;
    }
    @media screen and (min-width: 1920px){
        max-width: 40%;
    }

    .row .col {
        padding: 0 0.75rem;
    }

    button {
        &.btn-large, &.btn {
            @include button-style($text-color, $background-element-color, $icons-color, $text-color);
            display: flex;
            justify-content: center;
            font-size: 1.8em;
            width: 100%;
            &.operation {
                border-color: $background-color;
            }
        }
        &.btn-red {
            @include button-style($text-color, $background-element-color, $icons-close-color, $text-color);
            font-size: 1.5em;
            text-transform: none;
        }
    }

    .operations-live p {
        font-size: 1.9em;
        margin: 0px;
        border-bottom: 2px solid $text-color;
    }

    .operations-list {
        padding-left: 5px;
        text-align: right;
        p {
            font-size: 1em;
            margin: 0px;
        }
    }

}

#search {
    margin-top: 20px;
    margin-bottom: 0px;
    input {
        margin-bottom: 0px;
    }
}

#filters-menu {
    background-color: $background-element-color;
    @include border($border-element-color);
    > div {
        width: 95%;
        margin: auto;
    }
}



#sidenav {
    background-color: $background-element-color;
    @include border($text-color);
    li a {
        color: $text-color;
        height: 42px;
    }
    .user-view {
        text-align: center;
    }
}

#table-overview {
    &>.row {
        
        margin: 0px 0px 10px 0px;
        padding: 0px;

        .col {
            padding-left: 0px;
            padding-right: 0px;
        }

        table {
            td:nth-child(2) span, th:nth-child(2) span {
                padding: 0px 15px;
            }
            td:last-child div i.material-icons{
                margin-right: 5px;
            }
        }

        &#pagination-wrapper {
            background-color: $background-element-color;
            border: 1px solid $border-element-color;
            #pagination-choice {
                display: flex;
                align-items: center;
                padding: .5em;
                text-align: center;
                input {
                    width: inherit;
                    margin: 0px;
                    padding: .2em;
                    height: auto;
                    text-align: center;
                }
            }
            #table-overview-pagination {
                margin: 0px;
                padding: .5em 0em;
                li {
                    @include border($text-color);
                    border-right-width: 0em;
                    &:first-child, &:last-child {
                        border-width: 0em;
                        a { padding: 0em; }
                    }
                    &:last-child {
                        border-left-width: 1px;
                    }
                }
            }
        }
    }
}

#chart-overview {
    @include border($border-element-color);
    background-color: $background-element-color;
    margin: 0px;
    padding: .8em .5em .0em .5em;        
    .col {
        padding: 0em;
    }
    text {
        fill: $text-color;
    }
    .recharts-default-tooltip {
        background-color: $background-color;
        color: $text-color;
    }
}

#modal-export {
    .modal-content .row .col.s12 .col {
        display: flex;
        justify-content: center;
        margin: 0px;
        button {
            font-weight: bold;
            font-size: 1.2em;
        }
    }
}

#modal-edit-activity, #modal-new-activity {
    .modal.datepicker-modal.open {
        width: 100%;
    }
}