body {  
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    top: 0px;
    background-color: $background-color;
    color: $text-color;

}

input, textarea {
    color: $text-color;
}
i {
    &.green-text {
        color: $green-light !important
    }
    &.red-text {
        color: $red !important
    }
}
label, th {
    color: $bold-text-color;
}

table {
    background-color: $background-element-color;
    thead {
        font-weight: bold;
    }
    tr {
        th, td {
            padding: 4px;
            border: 1px solid $border-element-color;
            div {
                display: flex;
                justify-content: center;
            }
        }
    }
    &.highlight {
        tbody { 
            tr:hover {
                background-color: $background-color;
            }
        }
    }   
}

.hover-red {
    &:hover {
        color: $red !important;
    }
}
