$grey-blue: #3c686f;
$yellow: #eebb1b;
$azure: #C5E2E5;
$black: #666;
$grey: #D1D1D1;

.btn {
    margin: 2px;
}


#modal-calculator {

    width: 55%;
    max-height: 80%;

    button.btn-large, input[type="text"], p {
        font-size: 1.8em;
    }

    p {
        margin: 0px;
    }

    button {

        &.btn {
            width: 100%;
            box-shadow: none;
        }

    }

}