/*$grey-blue: #3c686f;
$yellow: #eebb1b;
$azure: #C5E2E5;
$black: #666;
$grey: #D1D1D1;*/
table th {
  font-size: 1.2em; }
  table th * {
    float: right; }
  table th i:hover {
    color: #26a69a;
    cursor: pointer;
    transition: color .25s ease; }

table td {
  padding: 5px; }
  table td i {
    color: #343434;
    margin: 0px 5px; }
    table td i:hover {
      color: #26a69a;
      cursor: pointer;
      transition: color .25s ease; }
    table td i.delete:hover {
      color: #F44336; }

table th i.material-icons, table td i.material-icons {
  display: block;
  text-align: center;
  float: right; }

.btn {
  margin: 2px; }

.btn-flat {
  transition: background-color .25s ease; }
  .btn-flat:hover {
    background-color: #26a69a;
    color: #343434; }
  .btn-flat.modal-close:hover {
    background-color: #F44336;
    color: #343434; }

#modal-calculator {
  width: 55%;
  max-height: 80%; }
  #modal-calculator button.btn-large, #modal-calculator input[type="text"], #modal-calculator p {
    font-size: 1.8em; }
  #modal-calculator p {
    margin: 0px; }
  #modal-calculator button.btn {
    width: 100%;
    box-shadow: none;
    padding: 0px; }

#table-data-info th, #table-data-info td {
  padding: 0px; }

#table-data-info th {
  text-align: center; }
