.btn {
  margin: 2px; }

#modal-calculator {
  width: 55%;
  max-height: 80%; }
  #modal-calculator button.btn-large, #modal-calculator input[type="text"], #modal-calculator p {
    font-size: 1.8em; }
  #modal-calculator p {
    margin: 0px; }
  #modal-calculator button.btn {
    width: 100%;
    box-shadow: none; }
